name = "MotionManifolds"
uuid = "5f6a8d0c-4116-4dca-9d5b-d58249706984"
authors = ["Joel Tari"]
version = "2.11.1"

[deps]
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
